@content-color: #f9fff9;
@light-green: #CCCC00;
@green: #007A29;
@icon-color: #009999;
@navbar-color: #F1F1F1;
@ref-hover: tomato;

body {
	background: @content-color;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
a { 
	color: @light-green !important;
}
.active { 
	color: @green !important;
}
.navbar { 
	background-color: @navbar-color;
}
.images {
	margin: 50px 0;
	padding: 20px;
}
.cat-left img { 
	border-radius: 50%;
}
.cat-right { 
	position: relative;
	&::after {
		content: "Simple cat image";
		position: absolute;
		width: 150px;
		top: 130px;
		left: 20px;
	}
}
.social {
	width: 150px;
	margin: 0 auto;
	& ul li {
		display: inline-block;
		margin: 10px 0 0 30px;
		& a {
			border-radius: 50%;
		}
			&:hover i {
				color: @ref-hover;
			}
		& i {
			color: @icon-color;
		}
	}
}