@spacing-sm: 20px;

section {
  margin-top: 50px;
  text-align: center;
  .text {
    letter-spacing: .8px;
  }
}
form {
  overflow: hidden;
}
#error-msg {
  color: #D8000C;
}
.order {
  width: 70%;
  margin: 0 auto;
  padding: @spacing-sm;
  overflow: hidden;
  text-align: left;
  select,input {
    width: 180px;
  }
  .title {
    font-weight: 400;
    margin-right: 15px;
    width: 90px;
  }
  span {
    display: inline-block;
    .title
  }
  .left-part {
    display: inline-block;
    float: left;
    padding: @spacing-sm;
    div {
      padding: 5px 0;
    }
  }
  .navigation {
    display: inline-block;
    width: 100%;
    padding: 100px @spacing-sm;
    #next {
      float: right;
    }
    #back {
      float: left;
    }
  }
}

@media only screen and (max-width: 994px) {
  .add-car {
    label {
      margin-right: 5px;
    }
    select,input {
      font-size: 12px;
      width: 103px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .add-car {
    .part {
      padding-top: 0;
      padding-bottom: 0;
    }
    .right-part {
      float: left;
    }
  }
}