@spacing-sm: 20px;

section {
  margin-top: 3*@spacing-sm;
  text-align: center;
  p {
    text-transform: uppercase;
    font-weight: 800;
  }
}
#error-msg {
  color: #D8000C;
}
.add-car {
  width: 70%;
  margin: 0 auto;
  padding: @spacing-sm;
  overflow: hidden;
  text-align: left;
  select,input {
    width:150px;
  }
  label {
    font-weight: 400;
    margin-right: 30px;
    width: 80px;
  }
  .part {
    display: inline-block;
    padding: @spacing-sm;
    div {
      padding: 5px 0;
    }
  }
  .left-part {
    float: left;
  }
  .right-part {
    position: relative;
    float:right;
  }
}
.btn-add {
  position: absolute;
  bottom: -3*@spacing-sm;
  right: @spacing-sm;
}

@media only screen and (max-width: 994px) {
  .add-car {
    label {
      margin-right: 5px;
    }
    select,input {
      font-size: 12px;
      width: 103px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .add-car {
    .part {
      padding-top: 0;
      padding-bottom: 0;
    }
    .right-part {
      float: left;
    }
  }
}