@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@back-color: #567;
@main-color: #fff;
* { 
	margin: 0;
	padding: 0;
  }
body{
	background: @back-color;
	font-family:'Open Sans', sans-serif;
}
h3 {
	text-align: center;
	color: @main-color;
	text-transform: uppercase;
}

form{
	background:#f0f0f0;
	padding: 6%;
}
input {
	width: 100%;
	background: @main-color;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding:4%;
	font-size: 95%;
	color: #555;
}
#error-msg {
  color: tomato;
}
.login{
	max-width: 360px;
	margin: 10% auto;
}
.button-wrapper {
	width: 80%;	
	margin: 0 auto;
}
a.btn {
	float: right;
}

