@screen-md-min: 768px;
@screen-md: 996px;
@screen-md-max: 1200px;
@spacing-sm: 10px;
@spacing-md: 20px;
@spacing-lg: 50px;
@width-input: 200px;
@width-label: 70px;

section {
  margin-top: @spacing-lg;
  h4 {
    margin-bottom: @spacing-md;
  }
}
#error-msg {
  color: #D8000C;
}
.inline {
  display: inline-block;
}
.edit-profile {
  width: 80%;
  margin: @spacing-md auto;
  padding: @spacing-md;
  overflow: hidden;
  text-align: left;
  #uploader {
    .inline
  }
  input {
    width: @width-input;
  }
  label {
    font-weight: 400;
    margin-right: @spacing-sm;
    width: @width-label;
  }
  .img-wrapper {
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  img {
    border: none;
  }
  .part {
    div {
      display: inline-block;
    }
  }
  .navigation {
    padding: @spacing-lg*2 @spacing-md*2 0 @spacing-md*2;
    overflow: hidden;
    clear: both;
    .btn:first-child {
      float: left;
    }
    .btn:last-child {
      float: right;
    }
  }

}

@media only screen and (max-width: @screen-md-max) {
  .edit-profile {
    label {
      margin-right: @spacing-sm/2;
    }
    input {
      font-size: 12px;
      width: @width-input/1.3;
    }
  }
}

@media only screen and (max-width: @screen-md) {
  .edit-profile {
    input {
      width: @width-input/1.7;
    }
  }
}

@media only screen and (max-width: @screen-md-min) {
  .edit-profile {
    width: 100%;
    label {
      font-size: 10px;
    }
    input {
      width: @width-input/2;
    }
  }
}

//@media only screen and (max-width: @screen-md-min) {
//  .add-car {
//    .part {
//      padding-top: 0;
//      padding-bottom: 0;
//    }
//    .right-part {
//      float: left;
//    }
//  }
//}