@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.welcome {
  color: #059;
  background-color: #bef;
  margin: 40px 0;
  padding: 10px;
  border-radius: 3px;
}
#title {
  display: inline-block;
  margin: 0;
}
.title-wrapper {
  overflow: hidden;
  padding: 20px;
}
.right {
  float: right;
}
.left {
  float: left;
}
section {
  margin-bottom: 80px;
}
table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px;
  text-align: center;
}
table {
  margin: 20px auto;
  a {
    margin-left: 5px;
  }
}
th {
  background-color: #ccc;
  font-weight: bold;
}
.carousel-inner {
  margin-bottom: 30px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}
.carousel-control {
  position: relative;
  bottom: 1px;
  background: none;
}
#prev, #next{
  background: #fff;
  width: 80px;
  color: #000;
  padding-right: 3px;
  padding-left: 3px;
  text-shadow: none;
  opacity: .7;
  font-size: 16px;
  border-color: #005599;
  &:hover {
    background: #329dff;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  table, td, th {
    padding: 5px 30px;
  }
  #title {
    font-size: 22px;;
  }
}

@media only screen and (max-width: 524px) {
  table, td, th {
    padding: 3px 15px;
  }
}

@media only screen and (max-width: 390px) {
  table, td, th {
    padding: 2px;
  }
  #title {
    font-size: 14px;
    line-height: 2em;
  }
}