body {
  background: #f9fff9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.navbar {
  background-color: #f1f1f1;
}
.navbar-brand {
  padding: 0 0 7px 15px;
}
a.dropdown-toggle {
  background: #f1f1f1 !important;
}
.dropdown-menu {
  min-width: 0;
}
ul.dropdown-menu {
  display: none !important;
  padding: 0 15px;
}
ul.dropdown-menu:hover {
  display: block !important;
}
a.dropdown-toggle:hover ~ ul.dropdown-menu {
  display: block !important;
}
#userpic {
  padding: 0;
  margin-top: 12px;
}
#my-service {
  padding: 16px;
}
.logo-hidden {
  display: none;
  line-height: 2.5em;
}


@media only screen and (max-width: 768px) {
  #userpic,
  .logo {
    display: none;
  }
  .logo-hidden {
    display: block;
  }
}
