section {
  margin-top: 50px;
  text-align: center;
}
section .text {
  letter-spacing: .8px;
}
form {
  overflow: hidden;
}
#error-msg {
  color: #D8000C;
}
.order {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  text-align: left;
}
.order select,
.order input {
  width: 180px;
}
.order .title {
  font-weight: 400;
  margin-right: 15px;
  width: 90px;
}
.order span {
  display: inline-block;
  font-weight: 400;
  margin-right: 15px;
  width: 90px;
}
.order .left-part {
  display: inline-block;
  float: left;
  padding: 20px;
}
.order .left-part div {
  padding: 5px 0;
}
.order .navigation {
  display: inline-block;
  width: 100%;
  padding: 100px 20px;
}
.order .navigation #next {
  float: right;
}
.order .navigation #back {
  float: left;
}
@media only screen and (max-width: 994px) {
  .add-car label {
    margin-right: 5px;
  }
  .add-car select,
  .add-car input {
    font-size: 12px;
    width: 103px;
  }
}
@media only screen and (max-width: 768px) {
  .add-car .part {
    padding-top: 0;
    padding-bottom: 0;
  }
  .add-car .right-part {
    float: left;
  }
}
