section {
  margin-top: 50px;
  text-align: center;
}
section p {
  text-transform: uppercase;
  font-weight: 800;
}
form {
  overflow: hidden;
}
#error-msg {
  color: #D8000C;
}
.buy-service {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  text-align: left;
}
.buy-service select,
.buy-service input {
  width: 180px;
}
.buy-service label {
  font-weight: 400;
  margin-right: 15px;
  width: 90px;
}
.buy-service .left-part {
  display: inline-block;
  float: left;
  padding: 20px;
}
.buy-service .left-part div {
  padding: 5px 0;
}
.buy-service .navigation {
  display: inline-block;
  width: 100%;
  padding: 100px 20px;
}
.buy-service .navigation #next {
  float: right;
}
.buy-service .navigation #back {
  float: left;
}
.modal-header {
  color: #e32323;
}
[class*='modal'] {
  border: none;
  letter-spacing: 1px;
}
#modal-message {
  color: #505050;
}
@media only screen and (max-width: 994px) {
  .add-car label {
    margin-right: 5px;
  }
  .add-car select,
  .add-car input {
    font-size: 12px;
    width: 103px;
  }
}
@media only screen and (max-width: 768px) {
  .add-car .part {
    padding-top: 0;
    padding-bottom: 0;
  }
  .add-car .right-part {
    float: left;
  }
}
