section {
  margin-top: 60px;
  text-align: center;
}
section p {
  text-transform: uppercase;
}
#error-msg {
  color: #D8000C;
}
#uploader,
#title-msg {
  display: inline-block;
}
#title-msg {
  vertical-align: top;
}
#area-msg {
  resize: none;
}
#contacts {
  width: 70%;
  margin: 0 auto;
  padding: 60px 20px;
  overflow: hidden;
  text-align: left;
}
#contacts select,
#contacts input {
  width: 150px;
}
#contacts label {
  font-weight: 400;
  margin-right: 30px;
  width: 80px;
}
#contacts .part {
  display: inline-block;
  padding: 20px;
}
#contacts .part div {
  padding: 5px 0;
}
#contacts .left-part {
  float: left;
}
#contacts .right-part {
  position: relative;
  float: right;
}
.btn-add {
  position: absolute;
  bottom: -40px;
  right: 20px;
}
@media only screen and (max-width: 994px) {
  .add-car label {
    margin-right: 5px;
  }
  .add-car select,
  .add-car input {
    font-size: 12px;
    width: 103px;
  }
}
@media only screen and (max-width: 768px) {
  .add-car .part {
    padding-top: 0;
    padding-bottom: 0;
  }
  .add-car .right-part {
    float: left;
  }
}
