@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  text-align: left;
}
.wrapper {
  text-align: center;
}
.section {
  margin: 30px 0;
}
h4 {
  margin: 0;
  display: inline-block;
}
.items {
  border: 1px solid #eee;
  padding: 15px 0;
}
.item {
  display: inline-block;
  margin-left: 50px;
}
.img-valign {
  vertical-align: middle;
  float: left;
  margin-top: 3px;
}
.text {
  display: inline-block;
  padding: 0px 3px;
  text-align: left;
}
.text span {
  display: inline-block;
  width: 200px;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
table {
  margin: 20px auto;
}
th {
  background-color: #ccc;
  font-weight: bold;
}
footer {
  margin-bottom: 50px;
}
#my-service {
  padding: 16px;
}
@media screen and (max-width: 995px) {
  .item {
    margin-left: 30px;
  }
  .text span {
    width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .items {
    text-align: left;
  }
  .item {
    display: block;
    margin-bottom: 20px;
  }
}
