section {
  margin-top: 50px;
}
section h4 {
  margin-bottom: 20px;
}
#error-msg {
  color: #D8000C;
}
.inline {
  display: inline-block;
}
.edit-profile {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  text-align: left;
}
.edit-profile #uploader {
  display: inline-block;
}
.edit-profile input {
  width: 200px;
}
.edit-profile label {
  font-weight: 400;
  margin-right: 10px;
  width: 70px;
}
.edit-profile .img-wrapper {
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
}
.edit-profile img {
  border: none;
}
.edit-profile .part div {
  display: inline-block;
}
.edit-profile .navigation {
  padding: 100px 40px 0 40px;
  overflow: hidden;
  clear: both;
}
.edit-profile .navigation .btn:first-child {
  float: left;
}
.edit-profile .navigation .btn:last-child {
  float: right;
}
@media only screen and (max-width: 1200px) {
  .edit-profile label {
    margin-right: 5px;
  }
  .edit-profile input {
    font-size: 12px;
    width: 153.84615385px;
  }
}
@media only screen and (max-width: 996px) {
  .edit-profile input {
    width: 117.64705882px;
  }
}
@media only screen and (max-width: 768px) {
  .edit-profile {
    width: 100%;
  }
  .edit-profile label {
    font-size: 10px;
  }
  .edit-profile input {
    width: 100px;
  }
}
